<div class="container-fluid">
  <!-- title -->
  <div class="row text-center">
    <h3><label class="label label-info">{{chosenSubGroup.Title}}</label></h3>
  </div>
  
  <!-- Ideal Role section -->
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2><label class="label label-primary">Ideal Role</label></h2>
      </div>
      <div class="panel panel-body">
        <div class="col-xs-12" ng-repeat="role in chosenSubGroup.idealRole">
          <h3><p><label class="label label-default">{{role}}</label></p></h3>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Minimum requirements section -->
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2><label class="label label-primary">Minimums</label></h2>
      </div>
      <div class="panel panel-body">
        <div class="col-xs-12" ng-repeat="min in chosenSubGroup.minimums">
          <h3><p>{{min}}</p></h3>
        </div>
      </div>
    </div>
  </div>
  
  <!-- full requirements -->
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2><label class="label label-primary">Requirements</label></h2>
      </div>
      <div class="panel panel-body">
        <div class="col-xs-12" ng-repeat="req in chosenSubGroup.reqs">
          <h3><p>{{req}}</p></h3>
        </div>
      </div>
    </div>
  </div>
  
  <!-- effects / bonuses -->
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2><label class="label label-primary">Effects</label></h2>
      </div>
      <div class="panel panel-body">
        <div class="col-xs-12" ng-repeat="bonus in chosenSubGroup.effect">
          <h3><p>{{bonus}}</p></h3>
        </div>
      </div>
    </div>
  </div>
</div>