<div class="container-fluid">
  <!-- Title -->
  <div class="row">
    <div class="text-center">
      <b><h2><label class="label label-danger">Striker-Alpha Toolkit</label></h2></b>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="text-left">
          <h3><b><label class="label label-primary">Attack Calculators</label></b></h3>
        </div>
        <!-- calculator toolbar -->
        <div class="row">
          <div class="btn-group btn-group-vertical btn-group-lg">
            <label class="btn btn-default" ng-model="toolChoice" btn-radio="0" uncheckable>Basic</label>
            <label class="btn btn-default" ng-model="toolChoice" btn-radio="1" uncheckable>Advanced</label>
            <label class="btn btn-default" ng-model="toolChoice" btn-radio="2" uncheckable>Indirect</label>
            <label class="btn btn-default" ng-model="toolChoice" btn-radio="3" uncheckable>Artillery</label>
            <label class="btn btn-default" ng-model="toolChoice" btn-radio="4" uncheckable>Melee</label>
          </div>
        </div>
      </div>
      <!-- force comp -->
      <div class="row">
      
      </div>
      <div class="row">
        <div class="text-left">
          <h3><b><label class="label label-primary">Force Building</label></b></h3>
        </div>
        <div class="btn-group-vertical btn-group-lg" >
          <label class="btn btn-default" ng-model="toolChoice" btn-radio="5" uncheckable>Pilot Skill</label>
          <label class="btn btn-default" ng-model="toolChoice" btn-radio="6" uncheckable>Ability Index</label>
          <label class="btn btn-default" ng-model="toolChoice" btn-radio="7" uncheckable>Form Index</label>
        </div>
      </div>
    </div>
    <!-- right column : info and go confirmation -->
    <div class="col-xs-6">
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <div class="row">
        <div class="panel panel-info">
          <div class="panel panel-heading text-center"><h4>{{toolMode.title}}</h4></div>
          <div class="panel panel-body">{{toolMode.desc}}</div>
          <div class="text-center">
            <label ng-click="handleCalcChoice()" class="btn btn-success btn-lg">Go<span class="glyphicon glyphicon-chevron-right"></span></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>