<div class="container-fluid">
  <div class="row">
    <div class="text-center"><b><h3><label class="label label-info">Pilot Skill Adjuster</label></h3></b></div>
  </div>
  
  <!-- Adjustment Mode select -->
  <div class="row">
    <div class="col-xs-8"><h2><span class="label label-default">Select Mode</span></h2></div>
  </div>
  <div class="row">
    <div class="col-xs-offset-3">
      <label class="btn btn-default" ng-model="pvMode" btn-radio="0" uncheckable>Increase</label>
      <label class="btn btn-default" ng-model="pvMode" btn-radio="1" uncheckable>Decrease</label>
    </div>
  </div>
  
  <div class="row">
  
  </div>
  
</div>